{% extends 'base.html' %}



{% block head %}

<title>Home</title>

{% endblock  %}

{% block body %}

<h1>Home Page</h1>

<main role="main">
    <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <h1>Welcome</h1>
        <p>Video blogs, or “vlogging”, is becoming more and more popular these days. Video blogs give you the luxury of discussing a lot of content with relatively little effort. <a href="www.blogpost.com">BLOGPOST</a></p>
        <p>Instead of spending time writing out a blog post, using special formatting, adding images, etc, you can just set up a webcam and speak your mind.</p>
        <p>
          <a class="btn btn-primary" href="/posts" role="button">Go to posts &raquo;</a>
        </p>
      </div>
    </div>
  </main>

{% endblock %}